#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  padding: 2em;
}

.header{
  background-color: aliceblue;
  display: flex;
  justify-content: flex-end;
}


.download-container{
  display: flex;
  min-height: 33vh;
  border: #61dafbaa solid 3px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.upload-container{
  margin-top: 9vh;
}
